:root {
  --primary-bg: #16161e;
  --secondary-bg: #1a1b26;
  --primary-text: #c7a8a0;
  --secondary-text: #9b83ec;
  --accent-1: #9b82ec;
  --accent-2: #ff6b6b;
  --neutral: #fafafa;
}

#app {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  margin: 0;
  background-color: var(--primary-bg);
  color: var(--primary-text);
  font-family: Arial, sans-serif;
}

button {
  background: none;
  color: var(--secondary-text);
  border: none;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  color: var(--neutral);
}
